footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.footer {
  width: 100%;
  margin: 0 auto;
}

.footerText {
  font-size: 12px;
}

.footerLogo {
  width: auto;
  height: 75px;
  margin-bottom: 0;
}

@media (max-width: 960px) {
	.footer {
	  width: 98%;
	  margin: 0 1%;
	}
}
