.header {
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-family: 'OpenSans';
  text-transform: uppercase;
  padding: 0 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav {
  z-index: 99;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}

.navItem {
  width: 100%;
  height: auto;
  padding: 20px;
  color: black;
  transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.navItem:hover {
  background-color: #eee;
}

.secondaryNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socialNav {
  display: flex;
  flex-direction: row;
}

.socialNav a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 700px) {
  .header {
    flex-direction: row;
  }

  .navItem {
    width: auto;
  }

  .nav {
    flex-direction: row;
    position: relative;
    width: auto;
  }

  .menuButton {
    display: none;
  }
}
